<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>dt</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../panels/style.css" rel="stylesheet">
	<link href="../../panels/codemirror.css" rel="stylesheet" >
</head>

<body class="container-fluid">
    <section class="row full-height">
        <div class="col-md-6 full-height" id="left"></div>
        <div class="col-md-6 full-height" id="right"></div>
    </section>

<!-- <script src="//cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../../panels/commonmark.js"></script>
<script src="../../panels/codemirror.js"></script>
<script src="../../panels/markdown.js"></script>
<script src="../../script.js"></script>

</body>
</html>